[Desktop Entry]
Name=Aufnahme stopen
Name[de]=Aufnahme stopen
Name[en]=stop record
Comment=Klimamessung
Comment[de]=Klimamessung
Exec=service aufzeichnung stop
Terminal=true
Type=Application
StartupNotify=false
Categories=Utility,System,Setting